{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST"> <!-- give POST method -->
            {% csrf_token %}
            <fieldset class="form-group"> <!-- bootstrap class -->
                <legend class="border-bottom mb-4">Join Today</legend> <!-- bootstrap class -->
                {{ form|crispy }} <!-- from our views.py -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button> <!-- boostrap class and button type submit -->
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}